/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

* {
    box-sizing: border-box;
}

/* Add some styles for body*/
body {
    min-height: 100vh;
    max-width: 1280px;
    margin: 0 auto;
    background: #181a27;
    color: #cbd5e1;
    font-family: 'Outfit', sans-serif;
    line-height: 1.5;
    background-image: url(images/bg-illustration.svg); /* Remove the single quotes around the URL */
    background-position: 0 0;
    background-attachment: fixed;
    background-size: cover;
    overflow-x: hidden;
    padding: 4rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.bg {
    width: 100%;
    position: fixed;
    text-align: right;
    z-index: -10000;
}

.bg img {
    margin-top: 30px;
    width: 750px;
    margin-right: 50px;
}

header {
    display: flex;
    justify-content: left;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 0.5rem;
    column-gap: 1.5rem;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 0.5rem;
    column-gap: 1.5rem;
    width: 100%;
}

.page-name {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: row;
}

.page-name img {
    width: 15rem;
    margin-bottom: 1rem;
}

.title {
    font-size: 1.5rem;
    font-weight: 500;
    margin: auto;
    padding-left: 1rem;
    display: flex;
    flex-direction: row;
    text-align: center;
}

#generateForm {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    row-gap: 0.5rem;
    column-gap: 1.5rem;
}

.generate-input {
    padding: 0.5rem 0.5rem;
    border: 0.15rem solid #3662E3;
    transition: all ease-in-out 50ms;
    cursor: pointer;
    width: 70%;
    border-radius: 1rem;
    background-color: #070c1c;
    color: #94a3b8;
    font-size: 1rem;
    font-weight: 200;
    font-family: 'Outfit', sans-serif;
}

.url {
    color: #94a3b8; 
    opacity: 0.5;
    background-color: #070c1c;
    padding: 0.5rem;
    border-radius: 1rem;
    font-family: 'Outfit', sans-serif;
    font-size: 1rem;
    font-weight: 200;
    border: 0.5px solid transparent;
    width: 100%;
}

.generate-button {
    background-color: #3662E3;
    color: #F2F5F9;
    border-radius: 1rem;
    font-size: 1rem;
    font-weight: 200;
    font-family: 'Outfit', sans-serif;
    border: 0.5px solid transparent;
    width: 25%;
    height: 3.5rem;
}

a {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.qr-title {
    font-size: 1.5rem;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    padding-left: 0.5rem;
    text-align: center;
}

a img {
    width: auto;
    height: auto;
}

#qrcode-div {
    width: 280px; /* Set the desired width for qrcode-div */
    height: 280px; /* Set the desired height for qrcode-div */
    border-radius: 50%;
    background-color: #1F2E55; /* Set your desired background color here (e.g., red) */
    display: flex; /* Center child elements horizontally and vertically */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}


#qrcode {
    width: 100%; /* Make the image take up the full width of the circular div */
    height: auto; /* Let the height adjust automatically based on the image's aspect ratio */
    display: flex;
    align-items: center;
    justify-content: center;
}

#qrcode img {
    border-radius: 1rem;
    border: 0.5rem solid #F2F5F9;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    row-gap: 0.5rem;
    column-gap: 1.5rem;
    padding-top: 3rem;
}

.download-button {
    background-color: #3662E3;
    color: #F2F5F9;
    padding: 1rem 1rem;
    border-radius: 1rem;
    font-size: 1rem;
    font-weight: 200;
    font-family: 'Outfit', sans-serif;
    border: 0.5px solid transparent;
    width: 10rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.download-button img {
    width: 1rem;
    height: 1rem;
    margin-left: 0.5rem;
}

.share-button {
    background-color: #3662E3;
    color: #F2F5F9;
    padding: 1rem 1rem;
    border-radius: 1rem;
    font-size: 1rem;
    font-weight: 200;
    font-family: 'Outfit', sans-serif;
    border: 0.5px solid transparent;
    width: 10rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.share-button img {
    width: 1rem;
    height: 1rem;
    margin-left: 0.5rem;
}

@media screen and (max-width: 720px) {
    .logo {
        display: initial;
    }

    .get-started {
        width: auto;
    }

    main {
        flex-direction: row;
    }

    /* Center the header */
    header {
        justify-content: center;
    }

    /* use display flex and row  */
    #generate-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 0.5rem;
        column-gap: 1.5rem;
    }

    #generateForm {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 0.5rem;
        column-gap: 1.5rem;
    }

    .url {
        width: 100%;
        justify-content: center;
        text-align: center;
    }

    .generate-button {
        width: 100%;
        justify-content: center;
    }
}
